/* IMPORT */
@import 'partials/variables.scss';


/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMONS */
ul {
    list-style: none;
}


/* TYPO */
h2 {
    margin-left: 10px;
}


